<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>販売数編集完了</title>

    <!-- CSS読み込み -->
    <link rel="stylesheet" th:href="@{/sales/SalesEditComplete.css}">
</head>

<body>

<div class="container">

    <h2>販売数編集が完了しました</h2>

    <div class="button-area">

        <form th:action="@{/sales/SalesEditSearch}" method="get">
            <button type="submit">
                販売数編集入力を続ける
            </button>
        </form>

        <form th:action="@{/sales/SalesManagement}" method="get">
            <button type="submit">
                販売管理へ戻る
            </button>
        </form>

    </div>

</div>

</body>
</html>