	<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>削除内容確認</title>
</head>
<body>
	<h2>削除内容確認</h2>

	商品名: <span th:text="${product.productName}"></span><br>
	販売数: <span th:text="${sales.salesQuantity}"></span><br>
	入荷日: <span th:text="${sales.salesDate}"></span><br>

	<form th:action="@{/sales/SalesDeleteComplete/{id}(id=${sales.id})}" method="post">	    
		<button type="submit">削除する</button>
	</form>
		
	<form th:action="@{/sales/SalesDeleteBack}" method="post">
	    <input type="hidden" name="id" th:value="${sales.id}">
	    <button type="submit">戻る</button>
	</form>
	

</body>
</html>