<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>削除内容確認</title>
    <link rel="stylesheet" th:href="@{/sales/SalesDeleteConfirm.css}">
</head>

<body>

<div class="container">

    <h2>削除内容確認</h2>

    <div class="info-box">
        商品名: <span th:text="${product.productName}"></span><br>
        販売数: <span th:text="${sales.salesQuantity}"></span><br>
        入荷日: <span th:text="${sales.salesDate}"></span><br>
    </div>

    <div class="button-area">

        <form th:action="@{/sales/SalesDeleteComplete/{id}(id=${sales.id})}"
              method="post">
            <button type="submit">
                削除する
            </button>
        </form>

        <form th:action="@{/sales/SalesDeleteBack}"
              method="post">

            <input type="hidden"
                   name="id"
                   th:value="${sales.id}">

            <button type="submit">
                戻る
            </button>

        </form>

    </div>

</div>

</body>
</html>