<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>販売処理登録確認</title>
    <link rel="stylesheet" th:href="@{/sales/SalesConfirm.css}">
</head>

<body>

<div class="container">

    <h1>販売処理登録確認</h1>
	
	<div th:if="${errorMessage}" style="color:red; margin-bottom:10px;">
		<p th:text="${errorMessage}"></p>
	</div>

    <div class="info-box">
        <p>商品名</p>
		<span th:text="${product.productName}"></span>
        <p>JANコード</p>
		<span th:text="${product.janCode}"></span>
        <p>販売数</p>
		<span th:text="${sales.salesQuantity}"></span>
        <p>販売日</p>
		<span th:text="${sales.salesDate}"></span>
    </div>

    <!-- 登録 -->
    <form th:action="@{/sales/SalesSave}"
          th:object="${sales}"
          method="post"
          class="form-box">

        <input type="hidden" th:field="*{productId}" />
        <input type="hidden" th:field="*{salesQuantity}" />
        <input type="hidden" th:field="*{salesDate}" />

        <div class="button-area">
            <button type="submit">
                登録する
            </button>
        </div>
    </form>

    <!-- 戻る（入力画面へ） -->
    <form th:action="@{/sales/SalesInputBack}"
          th:object="${sales}"
          method="post">

        <input type="hidden" th:field="*{productId}" />
        <input type="hidden" th:field="*{salesQuantity}" />
        <input type="hidden" th:field="*{salesDate}" />

        <button type="submit">
            戻る
        </button>
    </form>

</div>

</body>
</html>