<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>販売数処理修正検索</title>

    <!-- CSS読み込み -->
    <link rel="stylesheet" th:href="@{/sales/SalesEditSearch.css}">
</head>

<body>

<div class="container">

    <h1>販売数処理修正検索</h1>

    <p class="error-message"
       th:if="${errorMessage}"
       th:text="${errorMessage}">
    </p>

    <a th:href="@{/sales/SalesManagement}">
        <button type="button">
            戻る
        </button>
    </a>

    <form th:action="@{/sales/SalesEdit}"
          method="post"
          class="form-box">

        販売数ID

        <input type="number"
               name="id"
               required>

        <div class="button-area">
            <button type="submit">
                検索
            </button>
        </div>

    </form>

</div>

</body>
</html>