<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>販売処理編集完了</title>

    <!-- CSS読み込み -->
    <link rel="stylesheet" th:href="@{/sales/SalesEditComplete.css}">
</head>

<body>

<div class="container">

    <h1>販売処理の編集が完了しました</h1>

    <div class="button-area">

        <form th:action="@{/sales/SalesEditSearch}" method="get">
            <button type="submit">
                続けて編集する
            </button>
        </form>

        <form th:action="@{/sales/SalesManagement}" method="get">
            <button type="submit">
                販売管理へ戻る
            </button>
        </form>

    </div>

</div>

</body>
</html>