<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>登録内容確認</title>
    <link rel="stylesheet" th:href="@{/sales/SalesConfirm.css}">
</head>

<body>

<div class="container">

    <h2>商品登録内容確認</h2>

    <div class="product-info">
        商品名: <span th:text="${product.productName}"></span><br>
        JANコード: <span th:text="${product.janCode}"></span><br>
    </div>

    <h2>販売数と販売日を入力してください</h2>
	<p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>

    <form th:action="@{/sales/SalesConfirm2}"
          th:object="${sales}"
          method="post"
          class="form-box">

        <input type="hidden" th:field="*{productId}" />

        <input type="number"
               th:field="*{salesQuantity}"
               placeholder="販売数" 
			   required/>

        <input type="date"
               th:field="*{salesDate}" 
			   required/>

        <div class="button-area">
            <button type="submit">
                登録確認へ
            </button>
        </div>

    </form>

    <form th:action="@{/sales/SalesRegister}" method="get">
        <button type="submit">
            戻る
        </button>
    </form>

</div>

</body>
</html>