<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>販売登録完了</title>
    <link rel="stylesheet" th:href="@{/sales/SalesComplete.css}">
</head>

<body>

    <div class="container">

        <h1>販売登録が完了しました。</h1>
		
		<form th:action="@{/sales/SalesRegister}" method="get">
		    <button type="submit">
		       販売登録を続ける
		    </button>
		</form>

        <form th:action="@{/sales/SalesManagement}" method="get">
            <button type="submit">
                販売管理へ戻る
            </button>
        </form>

        

    </div>

</body>
</html>