<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>商品マスタ登録完了</title>
    <link rel="stylesheet" th:href="@{/product/complete.css}">
</head>

<body>

<div class="container">

    <h1>商品マスタ登録が完了しました</h1>

    <form th:action="@{/product/newproduct}" method="get">
        <button type="submit">
            続けて登録する
        </button>
    </form>

    <form th:action="@{/product/ProductMasterList}" method="get">
        <button type="submit">
            商品マスタ一覧へ戻る
        </button>
    </form>

</div>

</body>
</html>