<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>登録内容確認</title>
    <link rel="stylesheet" th:href="@{/product/confirm.css}">
</head>

<body>

<div class="container">

    <h2>登録内容確認</h2>
	
	<div th:if="${error}" style="color:red; margin-bottom:10px;">
		<p th:text="${error}"></p>
	</div>

    <div class="info-box">

        <p>JANコード: <span th:text="${product.janCode}"></span></p>
        <p>メーカー名: <span th:text="${product.makerName}"></span></p>
        <p>商品名: <span th:text="${product.productName}"></span></p>
        <p>仕入価格: <span th:text="${product.purchasePrice}"></span></p>
        <p>売価: <span th:text="${product.price}"></span></p>
        <p>販売状況: <span th:text="${product.salesStatus}"></span></p>

    </div>

    <div class="button-area">

        <!-- 戻る -->
        <form th:action="@{/product/back}"
              th:object="${product}"
              method="post">

            <input type="hidden" th:field="*{janCode}" />
            <input type="hidden" th:field="*{makerName}" />
            <input type="hidden" th:field="*{productName}" />
            <input type="hidden" th:field="*{purchasePrice}" />
            <input type="hidden" th:field="*{price}" />
            <input type="hidden" th:field="*{salesStatus}" />

            <button type="submit" class="btn-back">
                戻る
            </button>

        </form>

        <!-- 登録 -->
        <form th:action="@{/product/save}"
              th:object="${product}"
              method="post">

            <input type="hidden" th:field="*{janCode}" />
            <input type="hidden" th:field="*{makerName}" />
            <input type="hidden" th:field="*{productName}" />
            <input type="hidden" th:field="*{purchasePrice}" />
            <input type="hidden" th:field="*{price}" />
            <input type="hidden" th:field="*{salesStatus}" />

            <button type="submit" class="btn-confirm">
                登録する
            </button>

        </form>

    </div>

</div>

</body>
</html>