<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>商品マスタ登録</title>
    <link rel="stylesheet" th:href="@{/product/newproduct.css}">
</head>

<body>
	
<div class="container">

    <!-- 商品登録フォーム -->
    <form class="form-card"
          th:action="@{/product/confirm}"
          th:object="${product}"
          method="post">

        <h1>商品マスタ登録</h1>
		
		<!-- エラーメッセージ -->
		<div th:if="${error}" style="color:red; margin-bottom:10px;">
		   <p th:text="${error}"></p>
		</div>

        <label>JANコード</label>
        <input type="number"
               th:field="*{janCode}"
               required>

        <label>メーカー名</label>
        <input type="text"
               th:field="*{makerName}"
               required>

        <label>商品名</label>
        <input type="text"
               th:field="*{productName}"
               required>

        <label>仕入価格</label>
        <input type="number"
               th:field="*{PurchasePrice}"
               min="0"
               required>

        <label>売価</label>
        <input type="number"
               th:field="*{price}"
               min="0"
               required>

		<label>ステータス</label>
		<select th:field="*{salesStatus}" required>
			<option value="">ステータスを選択してください</option>
			<option value="販売中">販売中</option>
			<option value="販売停止">販売停止</option>
			<option value="販売終了">販売終了</option>
		</select>       

        <div class="form-actions">

            <button type="button"
                    class="btn-back"
                    onclick="location.href='/product/ProductMasterList'">
                戻る
            </button>

            <button type="submit" class="btn-confirm">
                確認へ
            </button>

        </div>

    </form>
</div>

</body>
</html>