<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品新規登録</title>
    <style>
        body { font-family: Arial, sans-serif; padding: 20px; }
        form { max-width: 400px; margin: auto; }
        input, textarea { display: block; width: 100%; padding: 8px; margin: 10px 0; }
        button { padding: 8px 16px; }
        h2 { text-align: center; }
    </style>
</head>
<body>
    <h2>商品新規登録</h2>
	
	<form th:action="@{/menu/ProductMasterList}" method="get">
		    <button type="submit">戻る</button>
	</form>

	<form th:action="@{/product/confirm}" 
	      th:object="${product}" 
	      method="post">

	    <input type="number" th:field="*{janCode}" placeholder="JANコード" required>
	    <input type="text" th:field="*{makerName}" placeholder="メーカー名" required>
	    <input type="text" th:field="*{productName}" placeholder="商品名" required>
		<input type="number" th:field="*{PurchasePrice}" placeholder="仕入価格" required>
		<input type="number" th:field="*{price}" placeholder="売価" required>
		<input type="text" th:field="*{salesStatus}" placeholder="販売状況" required>
		

	    <button type="submit">確認へ</button>
	</form>
</body>
</html>
