<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>商品検索</title>
    <link rel="stylesheet" th:href="@{/product/ProductSearch.css}">
</head>

<body>

<div class="container">

    <h1>商品検索</h1>

    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>

    <a th:href="@{/product/ProductMasterList}">
        <button type="button">戻る</button>
    </a>

    <form th:action="@{/product/ProductSearchConfirm}"
          th:object="${productSearchForm}"
          method="get">

        <div class="form-box">

            <label>JANコード</label>
            <input type="number" th:field="*{janCode}" >

            <label>メーカー名</label>
            <input type="text" th:field="*{makerName}" >

            <label>商品名</label>
            <input type="text" th:field="*{productName}" >

            <label>仕入価格</label>
            <input type="number" th:field="*{PurchasePrice}" >

            <label>売価</label>
            <input type="number" th:field="*{price}" >

            <label>ステータス</label>
            <select th:field="*{salesStatus}">
                <option value="">選択してください</option>
                <option value="販売中">販売中</option>
                <option value="販売停止">販売停止</option>
                <option value="販売終了">販売終了</option>
            </select>

        </div>

        <div class="button-area">

            <button type="submit">検索</button>

        </div>

    </form>

</div>

</body>
</html>