<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>商品削除確認</title>
    <link rel="stylesheet" th:href="@{/product/ProductDelete.css}">
</head>

<body>

<div class="container">

    <h1>商品マスタ削除</h1>

    

    <div class="product-info">

        JANコード :
        <span th:text="${product.janCode}"></span><br>

        メーカー名 :
        <span th:text="${product.makerName}"></span><br>

        商品名 :
        <span th:text="${product.ProductName}"></span><br>

        仕入価格 :
        <span th:text="${product.PurchasePrice}"></span><br>

        売価 :
        <span th:text="${product.price}"></span><br>

        販売状況 :
        <span th:text="${product.salesStatus}"></span><br>

    </div>

    <div class="button-area">

        <form th:action="@{/product/ProductDeleteComplete/{id}(id=${product.id})}"
              method="post">

            <button type="submit">
                削除する
            </button>

        </form>

    </div>
	
	<div class="back-area">
	    <a th:href="@{/product/ProductMasterList}">
	       <button type="button">
	         戻る
	       </button>
	    </a>
	</div>

</div>

</body>
</html>