<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>商品マスタ削除確認</title>
    <link rel="stylesheet" th:href="@{/product/ProductDelete.css}">
</head>

<body>

<div class="container">

    <h1>商品マスタ削除確認</h1>

    

    <div class="product-info">

        <p>JANコード</p>
        <span th:text="${product.janCode}"></span><br>

        <p>メーカー名</p>
        <span th:text="${product.makerName}"></span><br>

        <p>商品名</p>
        <span th:text="${product.ProductName}"></span><br>

        <p>仕入価格</p>
        <span th:text="${product.PurchasePrice}"></span><br>

        <p>売価</p>
        <span th:text="${product.price}"></span><br>

        <p>販売状況</p>
        <span th:text="${product.salesStatus}"></span><br>

    </div>

    <div class="button-area">

        <form th:action="@{/product/ProductDeleteComplete/{id}(id=${product.id})}"
              method="post">

            <button type="submit">
                削除する
            </button>

        </form>

    </div>
	
	<div class="back-area">
	    <a th:href="@{/product/ProductMasterList}">
	       <button type="button">
	         戻る
	       </button>
	    </a>
	</div>

</div>

</body>
</html>