<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>商品編集確認</title>
    <link rel="stylesheet" th:href="@{/product/ProductEditConfirm.css}">
</head>

<body>

<div class="container">

    <h1>商品編集確認</h1>

    <div class="back-area">
        <a th:href="@{/product/ProductEdit/{id}(id=${product.id})}">
            <button type="button">
                編集画面に戻る
            </button>
        </a>
    </div>

    <div class="product-info">

        JANコード :
        <span th:text="${product.janCode}"></span><br>

        メーカー名 :
        <span th:text="${product.makerName}"></span><br>

        商品名 :
        <span th:text="${product.ProductName}"></span><br>

        仕入価格 :
        <span th:text="${product.PurchasePrice}"></span><br>

        売価 :
        <span th:text="${product.price}"></span><br>

        販売状況 :
        <span th:text="${product.salesStatus}"></span><br>

    </div>

    <form th:action="@{/product/ProductEditComplete}"
          method="post"
          th:object="${product}"
          class="form-box">

        <!-- 更新に必須 -->
        <input type="hidden" th:field="*{id}">

        <input type="hidden" th:field="*{janCode}">
        <input type="hidden" th:field="*{makerName}">
        <input type="hidden" th:field="*{productName}">
        <input type="hidden" th:field="*{PurchasePrice}">
        <input type="hidden" th:field="*{price}">
        <input type="hidden" th:field="*{salesStatus}">

        <div class="button-area">

            <button type="submit">
                登録する
            </button>

        </div>

    </form>

</div>

</body>
</html>