@charset "UTF-8";

/* 背景 */
body{
    background-color: #FFD1DC;
    font-family: Arial, sans-serif;
}

/* カード */
.container{
    width: 520px;
    margin: 80px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* タイトル */
h1{
    text-align: center;
    margin-bottom: 25px;
}

/* 商品情報 */
.product-info{
    margin-bottom: 30px;
}

.product-info p{
	margin: 10px 0;
	font-size: 16px;
    color: red;
}

/* 削除ボタン（中央） */
.button-area{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* 戻るボタン（中央） */
.back-area{
    display: flex;
    justify-content: center;
}

/* ボタン共通 */
button{
    width: 180px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

/* 削除ボタン */
.button-area button{
    background-color: #dc3545;
    color: white;
}

.button-area button:hover{
    background-color: #b52a37;
}

/* 戻るボタン */
.back-area button{
    background-color: #e0e0e0;
    color: #333;
}

.back-area button:hover{
    background-color: #cfcfcf;
}