@charset "UTF-8";
body{
    background-color:#f3f3f3;
    font-family: Arial, sans-serif;
}

.container{
    width:900px;
    margin:50px auto;
    text-align:center;
}

h2{
    margin-bottom:30px;
}

/* ボタン */

form{
    margin-bottom:10px;
}

button{
    padding:8px 20px;
    border:1px solid #999;
    background-color:#e6e6e6;
    cursor:pointer;
}

button:hover{
    background-color:#dcdcdc;
}

/* テーブル */

.product-table{
    width:100%;
    border-collapse:collapse;
    margin-top:30px;
    background-color:white;
}

.product-table th,
.product-table td{
    border:1px solid #999;
    padding:8px;
    text-align:center;
}

.product-table th{
    background-color:#e6e6e6;
}

/* 行の色分け */

.product-table tr:nth-child(even){
    background-color:#f9f9f9;
}