<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>廃棄内容確認</title>
    <link rel="stylesheet" th:href="@{/stock/DisposalConfirm.css}">
</head>

<body>

    <div class="container">

        <h1>廃棄内容確認</h1>
		
		<div th:if="${errorMessage}" style="color:red; margin-bottom:10px;">
			<p th:text="${errorMessage}"></p>
		</div>


        <div class="info-box">

            <!-- 商品情報 -->
            <p>商品名</p>
			<span th:text="${product.productName}"></span>
            <p>JANコード</p>
			<span th:text="${product.janCode}"></span>

            <!-- 廃棄情報 -->
            <p>廃棄数</p>
			<span th:text="${disposal.quantity}"></span>
            <p>廃棄日</p>
			<span th:text="${disposal.disposalDate}"></span>
		    <p>廃棄理由</p>
			<span th:text="${disposal.reason}"></span>

        </div>

        <div class="button-area">

            <!-- 登録 -->
            <form th:action="@{/stock/DisposalSave}" th:object="${disposal}" method="post">

                <input type="hidden" th:field="*{productId}" th:value="${product.id}">
                <input type="hidden" th:field="*{quantity}">
                <input type="hidden" th:field="*{disposalDate}">
				<input type="hidden" th:field="*{reason}">

                <button type="submit">
                    登録する
                </button>

            </form>

            <!-- 戻る -->
            <form th:action="@{/stock/DisposalInput}" th:object="${disposal}" method="post">

                <input type="hidden" th:field="*{productId}">
                <input type="hidden" th:field="*{quantity}">
                <input type="hidden" th:field="*{disposalDate}">
			    <input type="hidden" th:field="*{reason}">

                <button type="submit">
                    戻る
                </button>

            </form>

        </div>

    </div>

</body>
</html>