<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>廃棄管理</title>
    <link rel="stylesheet" th:href="@{/stock/DisposalMenu.css}">
</head>

<body>

<div class="container">

    <h2>廃棄管理</h2>

    <div class="button-area">

        <!-- 廃棄登録 -->
        <form th:action="@{/stock/DisposalRegister}" method="get">
            <button type="submit">
                廃棄登録
            </button>
        </form>

        <!-- 廃棄編集 -->
        <form th:action="@{/stock/DisposalEditSearch}" method="get">
            <button type="submit">
                廃棄編集
            </button>
        </form>

        <!-- 廃棄削除 -->
        <form th:action="@{/stock/DisposalDeleteSearch}" method="get">
            <button type="submit">
                廃棄削除
            </button>
        </form>
		
		<!-- 廃棄一覧 -->
		<form th:action="@{/stock/DisposalList}" method="get">
		     <button type="submit">
		        廃棄一覧
		     </button>
		</form>

        <!-- 戻る -->
        <form th:action="@{/stock/ZaikoKanri}" method="get">
            <button type="submit">
                在庫管理へ戻る
            </button>
        </form>

    </div>

</div>

</body>
</html>