<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>返品商品入力</title>
    <link rel="stylesheet" th:href="@{/stock/ReturnInput.css}">
</head>

<body>

    <div class="container">

        <h1>返品商品入力</h1>

        <div class="product-info">

            <p>商品名: <span th:text="${product.productName}"></span></p>
            <p>JANコード: <span th:text="${product.janCode}"></span></p>

        </div>

        <form th:action="@{/stock/ReturnConfirm}"
              th:object="${returnData}"
              method="post"
              class="form-box">

            <input type="hidden" th:field="*{productId}" th:value="${product.id}">

            <label>返品数</label>
            <input type="number" th:field="*{returnQuantity}" min="1" required>

            <label>返品日</label>
            <input type="date" th:field="*{returnDate}" required>
			
			<label>返品理由</label>
				<select th:field="*{reason}" required>
					<option value="">選択してください</option>
					<option value="発注ミス">発注ミス</option>
					<option value="不良品">不良品</option>
					<option value="その他">その他</option>
				</select>

            <div class="button-area">
                <button type="submit">
                    返品登録内容確認へ
                </button>
            </div>

        </form>

        <div class="back-area">
            <a th:href="@{/stock/ReturnMenu}">
                <button type="button">戻る</button>
            </a>
        </div>

    </div>

</body>
</html>