<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>返品処理削除完了</title>
    <link rel="stylesheet" th:href="@{/stock/ReturnDeleteComplete.css}">
</head>

<body>

    <div class="container">

        <h1>返品処理削除が完了しました</h1>

        <form th:action="@{/stock/ReturnDeleteSearch}" method="get">
            <button type="submit">
                返品処理削除を続ける
            </button>
        </form>

        <form th:action="@{/stock/ReturnMenu}" method="get">
            <button type="submit">
                返品管理へ戻る
            </button>
        </form>

    </div>

</body>
</html>