<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>返品処理登録完了</title>
    <link rel="stylesheet" th:href="@{/stock/ReturnComplete.css}">
</head>

<body>

    <div class="container">

        <h1>返品処理の登録が完了しました</h1>

        <form th:action="@{/stock/ReturnRegister}" method="get">
            <button type="submit">
                続けて登録する
            </button>
        </form>

        <form th:action="@{/stock/ReturnMenu}" method="get">
            <button type="submit">
                返品管理へ戻る
            </button>
        </form>

    </div>

</body>
</html>