<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>返品内容確認</title>
    <link rel="stylesheet" th:href="@{/stock/ReturnConfirm.css}">
</head>

<body>

    <div class="container">

        <h2>返品内容確認</h2>
		
		<div th:if="${error}" style="color:red; margin-bottom:10px;">
			<p th:text="${error}"></p>
		</div>

        <div class="info-box">

            <!-- 商品情報 -->
            <p>商品名: <span th:text="${product.productName}"></span></p>
            <p>JANコード: <span th:text="${product.janCode}"></span></p>

            <!-- 返品情報 -->
            <p>返品数: <span th:text="${returnData.returnQuantity}"></span></p>
            <p>返品日: <span th:text="${returnData.returnDate}"></span></p>
			<p>返品理由: <span th:text="${returnData.reason}"></span></p>

        </div>

        <div class="button-area">

            <!-- 登録 -->
            <form th:action="@{/stock/ReturnSave}" th:object="${returnData}" method="post">

                <input type="hidden" th:field="*{productId}">
                <input type="hidden" th:field="*{returnQuantity}">
                <input type="hidden" th:field="*{returnDate}">
				<input type="hidden" th:field="*{reason}">

                <button type="submit">
                    登録する
                </button>

            </form>

            <!-- 戻る -->
            <form th:action="@{/stock/ReturnInput}" th:object="${returnData}" method="post">

                <input type="hidden" th:field="*{productId}">
                <input type="hidden" th:field="*{returnQuantity}">
                <input type="hidden" th:field="*{returnDate}">
				<input type="hidden" th:field="*{reason}">

                <button type="submit">
                    戻る
                </button>

            </form>

        </div>

    </div>

</body>
</html>