<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>入荷商品入力</title>
    <link rel="stylesheet" th:href="@{/stock/StockIn.css}">
</head>

<body>

    <div class="container">

        <h1>入荷商品入力</h1>

        <!-- エラーメッセージ -->
        <div th:if="${error}" style="color:red; margin-bottom:10px;">
            <p th:text="${error}"></p>
        </div>

        <!-- 商品情報表示 -->
        <div class="product-info">
            <p>商品名: <span th:text="${product.productName}"></span></p>
            <p>JANコード: <span th:text="${product.janCode}"></span></p>
        </div>

        <form th:action="@{/stock/StockInConfirm}"
              th:object="${stock}"
              method="post"
              class="form-box">

            <!-- ★商品IDはhidden -->
            <input type="hidden" th:field="*{productId}" th:value="${product.id}">

            <!-- 入荷数 -->
            <label>入荷数</label>
            <input type="number" th:field="*{quantity}" min="1" required>

            
			<label>入荷日</label>
			        <input type="date"
			               th:field="*{arrivalDate}"
			               required>

            <div class="button-area">
                <button type="submit">
                    入荷登録内容確認へ
                </button>
            </div>

        </form>

        <!-- 戻る -->
        <div class="back-area">
            <a th:href="@{/stock/StockInRegister}">
                <button type="button">戻る</button>
            </a>
        </div>

    </div>

</body>
</html>