<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>廃棄商品検索</title>
</head>
<body>

<h1>廃棄商品検索</h1>

<a th:href="@{/stock/ZaikoConfirm}">
	    <button type="button">戻る</button>
</a>

<form th:action="@{/stock/StockSearch}" method="get">

商品名：
<input type="text" name="productName">

JANコード：
<input type="text" name="janCode">

<button type="submit">検索</button>

<button type="button"
        onclick="location.href='/stock/StockSearch'">
一覧
</button>

</form>

<table border="1">

	<tr>
		<th>JANコード</th>
		<th>商品ID</th>
		<th>商品名</th>
		<th>在庫数</th>
		<th>操作</th>
	</tr>
	
	<tr th:each="product : ${productList}">
	
		<td th:text="${product.janCode}"></td>
		
		<td th:text="${product.id}"></td>
		
		<td th:text="${product.productName}"></td>
		
		<td th:text="${product.stock}"></td>
	
	<td>
		<a th:href="@{/stock/StockEdit/{id}(id=${product.id})}">廃棄登録へ</a><br>
	</td>
	
	</tr>

</table>

</body>
</html>