<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>入荷処理登録完了</title>
    <link rel="stylesheet" th:href="@{/stock/StockInComplete.css}">
</head>

<body>

    <div class="container">

        <h1>入荷処理の登録が完了しました</h1>

        <form th:action="@{/stock/StockInRegister}" method="get">
            <button type="submit">
                続けて登録する
            </button>
        </form>

        <form th:action="@{/stock/ArrivalControll}" method="get">
            <button type="submit">
                入荷処理へ戻る
            </button>
        </form>

    </div>

</body>
</html>