<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>入荷登録削除確認</title>
    <link rel="stylesheet" th:href="@{/stock/StockInDeleteConfirm.css}">
</head>

<body>

<div class="container">

    <h1>次の項目を削除しますか？</h1>

    <div class="back-area">
        <a th:href="@{/stock/StockInDeleteSearch}">
            <button type="button">
                戻る
            </button>
        </a>
    </div>

    <div class="info-box">

        商品名: <span th:text="${product.productName}"></span><br>
        入荷数: <span th:text="${stock.quantity}"></span><br>
        入荷日: <span th:text="${stock.arrivalDate}"></span><br>

    </div>

    <div class="button-area">

        <form th:action="@{/stock/StockInDeleteComplete/{id}(id=${stock.id})}" method="post">
            <button type="submit">
                削除する
            </button>
        </form>

    </div>

</div>

</body>
</html>