<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>入荷処理編集</title>
    <link rel="stylesheet" th:href="@{/stock/StockInEdit.css}">
</head>

<body>

<div class="container">

    <h1>入荷処理編集</h1>
	
	<!-- エラーメッセージ -->
	<div th:if="${errorMessage}" style="color:red; margin-bottom:10px;">
	    <p th:text="${errorMessage}"></p>
	</div>

    <div class="back-area">
        <a th:href="@{/stock/StockInEditSearch}">
            <button type="button">
                戻る
            </button>
        </a>
    </div>

    <form th:action="@{/stock/StockInEditConfirm}"
          th:object="${stock}"
          method="post"
          class="form-box">

        <!-- ID -->
        <label>ID</label>
		<span th:text="${stock.id}"></span>
		<input type="hidden" th:field="*{id}">

        <!-- 商品 -->
		<label>商品</label>
		<span th:text="${product.productName}"></span>
		<input type="hidden" th:field="*{productId}">

        <!-- 入荷数 -->
        <label>入荷数</label>
		<input type="number"
		       th:field="*{quantity}"
		       placeholder="入荷数"
		       min="1"
		       required>

		<label>入荷日</label>
			<input type="date"
			   	   th:field="*{arrivalDate}"
			   	   required>

        <div class="button-area">
            <button type="submit">
                入荷処理編集確認へ
            </button>
        </div>

    </form>

</div>

</body>
</html>