<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>商品削除完了</title>
    <link rel="stylesheet" th:href="@{/stock/StockInDeleteComplete.css}">
</head>

<body>

<div class="container">

    <h1>商品の削除が完了しました</h1>

    <div class="button-area">

        <form th:action="@{/stock/StockInDeleteSearch}" method="get">
            <button type="submit">
                入荷処理登録削除を続ける
            </button>
        </form>

        <form th:action="@{/stock/ArrivalControll}" method="get">
            <button type="submit">
                入荷処理一覧へ戻る
            </button>
        </form>

    </div>

</div>

</body>
</html>