<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>入荷処理登録</title>
    <link rel="stylesheet" th:href="@{/stock/StockIn.css}">
</head>

<body>

<div class="container">

    <h2>入荷処理登録</h2>

    <div class="back-area">
        <form th:action="@{/stock/ArrivalControll}" method="get">
            <button type="submit">戻る</button>
        </form>
    </div>

    <form th:action="@{/stock/StockInConfirm}"
          th:object="${stock}"
          method="post"
          class="form-box">

        <!-- 商品選択 -->
        <label>商品</label>
        <select th:field="*{productId}" required>
            <option value="">商品を選択</option>

            <option th:each="product : ${productList}"
                    th:value="${product.id}"
                    th:text="${product.productName}">
            </option>
        </select>

        <!-- 入荷数 -->
        <label>入荷数</label>
        <input type="number"
               th:field="*{quantity}"
               placeholder="入荷数"
			   min="1"
               required>

        <!-- 入荷日 -->
		<label>入荷日</label>
		<span th:text="${#temporals.format(T(java.time.LocalDate).now(), 'yyyy-MM-dd')}"></span>

        <div class="button-area">
            <button type="submit">
                確認へ
            </button>
        </div>

    </form>

</div>

</body>
</html>