<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>入荷削除確認</title>
    <link rel="stylesheet" th:href="@{/stock/StockInDeleteConfirm.css}">
</head>

<body>

<div class="container">

    <h1>入荷削除確認</h1>
	
	<div th:if="${errorMessage}" style="color:red; margin-bottom:10px;">
		<p th:text="${errorMessage}"></p>
	</div>

    <div class="info-box">

        <p>入荷ID</p>
		<span th:text="${stock.id}"></span>
        <p>商品名</p>
		<span th:text="${product.productName}"></span>
        <p>入荷数</p>
		<span th:text="${stock.quantity}"></span>
        <p>入荷日</p>
		<span th:text="${stock.arrivalDate}"></span>

    </div>

    <div class="button-area">

        <!-- 削除確定 -->
        <form th:action="@{/stock/StockInDeleteComplete}" th:object="${stock}" method="post">
            <input type="hidden" th:field="*{id}">
            <button type="submit">削除する</button>
        </form>

        <!-- 戻る -->
        <form th:action="@{/stock/StockInDeleteSearch}" method="get">
            <button type="submit">戻る</button>
        </form>

    </div>

</div>

</body>
</html>