<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>入荷処理編集完了</title>
    <link rel="stylesheet" th:href="@{/stock/StockInEditComplete.css}">
</head>

<body>

<div class="container">

    <h1>入荷処理の編集が完了しました</h1>

    <div class="button-area">

        <form th:action="@{/stock/StockInEditSearch}" method="get">
            <button type="submit">
                続けて編集する
            </button>
        </form>

        <form th:action="@{/stock/ArrivalControll}" method="get">
            <button type="submit">
                入荷処理へ戻る
            </button>
        </form>

    </div>

</div>

</body>
</html>