<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>在庫管理</title>
    <link rel="stylesheet" th:href="@{/stock/ZaikoKanri.css}">
</head>

<body>

<div class="container">

    <h1>在庫管理</h1>

    <div class="button-area">

        <!-- 入荷処理 -->
        <form th:action="@{/stock/ArrivalControll}" method="get">
            <button type="submit">
                入荷処理
            </button>
        </form>

        <!-- 販売数入力 -->
        <form th:action="@{/sales/SalesManagement}" method="get">
            <button type="submit">
                販売数入力
            </button>
        </form>

        <!-- 在庫調整管理 -->
        <form th:action="@{/stock/ZaikoConfirm}" method="get">
            <button type="submit">
                在庫調整管理
            </button>
        </form>

        <!-- 在庫一覧 -->
        <form th:action="@{/stock/StockList}" method="get">
            <button type="submit">
                在庫一覧
            </button>
        </form>

        <!-- 商品管理アプリへ戻る -->
        <form th:action="@{/menu/ProductMasterApp}" method="get">
            <button type="submit">
                商品管理アプリへ戻る
            </button>
        </form>

    </div>

</div>

</body>
</html>