@charset "UTF-8";
body{
    background:#f3f3f3;
    font-family:Arial, sans-serif;
}

.container{
    width:400px;
    margin:100px auto;
    text-align:center;
}

h2{
    margin-bottom:30px;
}

.button-area{
    display:flex;
    flex-direction:column;
    gap:15px;
}

button{
    padding:10px 20px;
    border:1px solid #999;
    background:#e6e6e6;
    cursor:pointer;
}

button:hover{
    background:#dcdcdc;
}