<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" th:href="@{/auth/login.css}">
</head>

<body>

    <h2>ログイン</h2>

    <form th:action="@{/auth/login}" method="post">

        <div>
            ユーザー名：
            <input type="text" name="username">
        </div>

        <div>
            パスワード：
            <input type="password" name="password">
        </div>

        <button type="submit">
            ログイン
        </button>

    </form>

</body>
</html>