<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>アカウント新規登録</title>
    <link rel="stylesheet" th:href="@{/auth/register.css}">
</head>

<body>

<form th:action="@{/auth/register}"
      th:object="${user}"
      method="post">

    <h1 class="form-title">
        アカウント新規登録
    </h1>
	
	<div th:if="${errorMessage}" class="error-message">
	    <p th:text="${errorMessage}"></p>
	</div>

    <div>
        ユーザー名

		<input type="text"
		       th:field="*{username}"
		       required>
    </div>

    <div>
        パスワード

		<input type="password"
		       th:field="*{password}"
		       required>
    </div>

    <button type="submit">
        登録確認へ
    </button>

    <div class="register-link">

        <a th:href="@{/auth/login}">
            ログイン画面に戻る
        </a>

    </div>

</form>

</body>
</html>