<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="UTF-8">
	<title>最初の画面</title>
</head>
<body>
	<h2>商品マスタ一覧</h2>
	<form th:action="@{/product/newproduct}" method="get">
		<button type="submit">新規商品登録</button>
	</form>	
	
	<form th:action="@{/product/newproduct}" method="get">
		<button type="submit">商品検索</button>
	</form>	
	
	<form th:action="@{/product/newproduct}" method="get">
	    <button type="submit">商品を並び替える</button>
	</form>
	
	<form th:action="@{/product/newproduct}" method="get">
		<button type="submit">マスタ管理へ戻る</button>
	</form>				        
	
	
</body>
</html>