<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>最初の画面</title>
</head>
<body>
	<h2>商品マスタ一覧</h2>
	<!-- OK -->
	<form th:action="@{/product/newproduct}" method="get">
		<button type="submit">新規商品登録</button>
	</form>	
	
	<!-- 商品検索画面作ったらURL替える（これは少し時間かかる） -->
	<form th:action="@{/inputForm/ProductSearch}" method="get">
		<button type="submit">商品検索</button>
	</form>	
	
	<!-- 商品並び替え画面作ったらURL替える（これは少し時間かかる） -->
	<form th:action="@{/product/newproduct}" method="get">
	    <button type="submit">商品を並び替える</button>
	</form>
	
	<!-- OK -->
	<form th:action="@{/menu/ProductMasterKanri}" method="get">
		<button type="submit">マスタ管理へ戻る</button>
	</form>		
	
	<table border="1">
	    <tr>
	        <th>ID</th>
	        <th>JAN</th>
	        <th>メーカー</th>
	        <th>商品名</th>
	        <th>売価</th>
	        <th>ステータス</th>
	        <th>販売状況</th>
	    </tr>

	    <tr th:each="product : ${productList}">
	        <td th:text="${product.id}"></td>
	        <td th:text="${product.janCode}"></td>
	        <td th:text="${product.makerName}"></td>
	        <td th:text="${product.productName}"></td>
	        <td th:text="${product.price}"></td>
	        <td th:text="${product.status}"></td>
	        <td th:text="${product.salesStatus}"></td>
	    </tr>
	</table>		        
	
	
</body>
</html>