<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>在庫管理</h2>
			<!-- OK -->
			<form th:action="@{/menu/ZaikoConfirm}" method="get">
				<button type="submit">在庫確認</button>
			</form>	
			
			<!-- 入荷処理画面作ったらURL替える（これは少し時間かかる） -->
			<form th:action="@{/menu/ArrivalControll}" method="get">
				<button type="submit">入荷処理</button>
			</form>	
			
			<!-- 販売数入力画面作ったらURL替える（これは少し時間かかる） -->
			<form th:action="@{/product/newproduct}" method="get">
			    <button type="submit">販売数入力</button>
			</form>
			
			<!-- OK -->
			<form th:action="@{/menu/ProductMasterKanri}" method="get">
				        <button type="submit">商品管理アプリへ戻る</button>
			</form>

</body>
</html>