<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>アラート設定</title>
    <link rel="stylesheet" th:href="@{/alert/AlertSetting.css}">
</head>

<body>

<div class="container">

    <h1>アラート設定</h1>

    <!-- 発注最低数アラート設定 -->
    <form th:action="@{/alert/AlertSettingList}" method="get">
        <button type="submit">
            在庫最低数アラート設定
        </button>
    </form>

    <!-- 回転数悪化アラート設定 -->
    <form th:action="@{/alert/AlertRotationSetting}" method="get">
        <button type="submit">
            回転数悪化アラート設定
        </button>
    </form>

    <!-- マスタ管理画面へ戻る -->
    <form th:action="@{/menu/ProductMasterKanri}" method="get">
        <button type="submit">
            マスタ管理画面へ戻る
        </button>
    </form>

</div>

</body>
</html>