<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>アラート表示画面</title>
    <link rel="stylesheet" th:href="@{/alert/AlertScreen.css}">
</head>

<body>

    <h2>アラート表示画面</h2>

    <!-- 発注最低数アラート -->
    <div class="menuButton">

        <form th:action="@{/alert/MinstockAlertDisplay}" method="get">

            <button type="submit">

                発注最低数アラート

                <span class="alertCount"
                      th:text="${minStockAlertCount} + '件'">
                    0件
                </span>

            </button>

        </form>

    </div>


    <!-- 回転数悪化アラート -->
    <div class="menuButton">

        <form th:action="@{/alert/RotationAlertDisplay}" method="get">

            <button type="submit">

                回転数悪化アラート

                <span class="alertCount"
                      th:text="${rotationUrgentCount} + '件'">
                    0件
                </span>

            </button>

        </form>

    </div>


    <!-- 戻る -->
    <div class="menuButton">

        <form th:action="@{/menu/ProductMasterApp}" method="get">

            <button type="submit">
                在庫管理アプリへ戻る
            </button>

        </form>

    </div>

</body>
</html>