<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>在庫最低数登録</title>
    <link rel="stylesheet" th:href="@{/alert/AlertSettingConfirm.css}">
</head>

<body>

    <div class="container">

        <h1>在庫最低数登録</h1>

        <div class="back-area">
            <button type="button" onclick="history.back()">
                入力画面に戻る
            </button>
        </div>

        <!-- 商品情報表示 -->
        メーカー名:
        <span th:text="${product.makerName}"></span>
        <br>

        商品名:
        <span th:text="${product.productName}"></span>
        <br>

        JANコード:
        <span th:text="${product.janCode}"></span>
        <br>
		
		在庫最低数:
		<span th:text="${alertSetting.minStock}"></span>
		<br>

        <form th:action="@{/alert/AlertSettingComplete}"
              method="post"
              th:object="${alertSetting}"
              class="form-box">

            <!-- 登録に必要な hidden -->
            <input type="hidden" th:field="*{productId}" />
			<input type="hidden" th:field="*{minStock}" />

            <div class="button-area">
                <button type="submit">
                    登録する
                </button>
            </div>

        </form>

    </div>

</body>
</html>