<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>回転数悪化アラート</title>
    <link rel="stylesheet" th:href="@{/alert/RotationAlertDisplay.css}">
</head>

<body>

    <div class="container">

        <div class="title">
            回転数悪化アラート
        </div>

        <table>

            <thead>
                <tr>
                    <th>JANコード</th>
                    <th>商品名</th>
                    <th>最終販売日</th>
                    <th th:text="${setting.attentionDays} + '日販売数'"></th>
					<th th:text="${setting.urgentDays} + '日販売数'"></th>
                    <th>重要度</th>
                </tr>
            </thead>

            <tbody>

                <tr th:each="product : ${rotationAlertList}">

                    <td th:text="${product.janCode}"></td>

                    <td th:text="${product.productName}"></td>

                    <td th:text="${lastSalesDateMap[product.id] != null ? lastSalesDateMap[product.id] : '販売なし'}"></td>

                    <td th:text="${attentionSalesMap[product.id]}"></td>
					
					<td th:text="${urgentSalesMap[product.id]}"></td>

					<td>

					    <span th:if="${alertLevelMap[product.id]} == 'URGENT'"
					          class="urgent">
					        緊急
					    </span>

					    <span th:if="${alertLevelMap[product.id]} == 'ATTENTION'"
					          class="attention">
					        注意
					    </span>

					</td>

                </tr>

            </tbody>

        </table>

		<div class="button-area">
		    <a th:href="@{/alert/AlertScreen}">
		        <button>
		            戻る
		        </button>
		    </a>
		</div>

    </div>

</body>
</html>